@import "grundfile.less";



a.phone {text-align: right; font-weight: 500; display: block; font-size: 16px;  float: right;
.m-speed; margin-left: 30px;
position: relative;
b {font-family: @fontB;}

}
.phone::before {
content: ''; display: block; width: 16px; height: 16px; .bgCCC; background: url(../img/phone.png);
position: absolute; top: 1px; left: -30px;
}



.slider--nav {
position: absolute;
display: block;
top: 50%;
width: 22px;
height: 35px;
margin-top: -17px;
background: url(../img/stick.png); z-index: 99999;
cursor: pointer;
}

.slider--nav:hover{opacity: .75;}

.slick-prev {left:150px;}    
.slick-next {right: 150px; .pov5;}



.content {width: 1180px; margin: 0 auto; position: relative; }

section {float: left; width: 100%; position: relative;}

.wrap {position: absolute; width: 100%; left:0px; top: 100%; min-height: 550px;}
.button {padding: 22px 42px; color: #fff; font-family: 'MuseoSansBlack'; font-size: 14px; text-align: center;
background: @colfirm; border-radius: 45px; .m-speed; letter-spacing: 1px;
}

.button:hover {background: #c61d66;}

header {position: fixed; width: 100%; height: 110px; left: 0px; top: 0px; background: #fff;
z-index: 999999999999; box-shadow: 0px 14px 24px 0px rgba(36, 36, 36, 0.45);
.content {height: 100%;}
.header--logo--block {float: left; height: 100%; width: 25%; display: inline-table;
a.logo {display: block; width: 150px; height: 60px; .bgCCC; background: url(../img/logo.png);}    
}
    
.header--nav--block {float: left; height: 100%; width: 50%; display: inline-table;
nav {position: relative; .middle; margin: 0 auto; text-align: center;
a {color: #777777; font-size: 14px; font-family: @fontL; margin: 0 11px; .m-speed;}
    a:hover {color: @colfirm;}    

}}
    
.header--phone--block {float: left; height: 100%; width: 25%; display: inline-table; text-align: right;
a.phone {text-align: right; font-weight: 500; display: block; font-size: 16px;  float: right;
.m-speed; margin-left: 30px;
position: relative;
b {font-family: @fontB;}

}
.phone::before {
content: ''; display: block; width: 16px; height: 16px; .bgCCC; background: url(../img/phone.png);
position: absolute; top: 1px; left: -30px;
}     

a:hover {color: @colfirm;}    
    
}

}

.home {position: absolute; display: table; width: 100%; height: 100%; left: 0px; top: 0px; .bgCC; background: url(../img/home.jpg); text-align: center;
h1{font-size: 66px; color: #fff; font-family: @fontB; text-align: center; font-family: 'MuseoSansBlack';
padding: 75px;}}

.about {padding: 95px; height: 1085px;
.about--info--block {float: left; width: 100%;
.about--info-one{float: left; width: 50%; height: 100%; .bgCC; display: inline-table;  height: 443px;
article {float: left; width: 100%; padding: 34px;}
h2 {font-size: 44px; color: @coltxt; font-family: @fontB; margin-bottom: 35px;}
p {float: left; width: 100%; font-size: 16px; font-family: @fontL; color: #777777; line-height: 1.7;}

}  
    
}
    
.about--table--ico--block {float: left; width: 100%; margin-top: 85px;
.about--ico--one {height: 270px; width: 20%; border-left: solid 6px @colbg; border-right: solid 6px @colbg;
position: relative; float: left;
.one--block {position: absolute; display: block; width: 100%; height: 100%; border-radius: 15px; background: #fff; padding: 30px 15px;
.ico {height: 125px; float: left; width: 100%; display: table;
img {position: relative; display: table-cell; vertical-align: bottom; margin: 0 auto;padding: 24px;  .m-speed;}}   
.title {display: inline-block; float: left; width: 100%; text-align: center; font-family: @fontB; margin-bottom: 10px;}
p {float: left; width: 100%; font-size: 14px; font-family: @fontL; color: #777777; line-height: 1.5; text-align: center;}
    
}
    
} 
.about--ico--one:hover {.one--block{.ico{img{margin-top: -10px;}}}   cursor: pointer;}    
}}






.slider-one {height: 960px; .bgCC; background: url(../img/bgpre.jpg);
.content {height: 100%; display: table;}
h2 {color: #fff; font-size: 44px; color: #fff; font-family: @fontB; text-align: center;}
.slider--block {float: left; width: 100%; margin-top: 115px; position: relative; height: 260px; overflow: hidden;
.slide--one {position: absolute; display: none; width: 100%; height: 100%; top:0px; left: 0px;
.one {width: 32.9999999%; height: 100%; position: relative; display: inline-block;
.one--block--pre {position: relative; display: block; margin: 0 auto; width: 160px;
.image {float: left; width: 100%; height: auto; margin-bottom: 30px;
img {position: relative; display: block; }}   
span {color: #fff; font-size: 18px; line-height: 1.4; font-family: @fontL; display: block; text-align: center;
float: left; width: 100%;    
    } 
    
}  
    
.liner::before {content: ''; position:absolute;  display: block; width: 90%; height: 1px; background: #fff; opacity: .75; top:80px; left:-190px;}    
.liner::after {content: ''; position:absolute;  display: block; width: 90%; height: 1px; background: #fff; opacity: .75; top:80px; right:-190px;}    
    
}    
    
    }#slide1{display: block;}

  
    
    
.stick {position: absolute; display: block; top:50%; width: 22px; height: 35px;     margin-top: -70px; 
background: url(../img/stick.png);}
.stick:hover {opacity: .75; cursor: pointer;}
#s-left {left: 0px;}
#s-right {right: 0px; .pov5;}
    
}

p {color: #fff; font-size: 18px; line-height: 1.7; font-family: @fontL; display: block; text-align: center;
float: left; width: 100%; text-align: center; margin-top: 90px;
.button {margin-top: 43px; display: inline-block;}    
} 

}


.contatc {padding: 95px; height: 755px; padding-top: 160px;
.about--info--block {float: left; width: 100%;
.about--info-one{float: left; width: 50%; height: 100%; .bgCC; display: inline-table;  height: 443px;
article {float: left; width: 100%; padding: 65px;}
h2 {font-size: 44px; color: @coltxt; font-family: @fontB; margin-bottom: 35px;}
p {float: left; width: 100%; font-size: 14px; font-family: @fontL; color: #777777; line-height: 1.7; text-align: left;


}  
.button {margin-top: 43px; display: inline-block; float: left;
    }.phone {float: left; margin-top: 25px;}.phone::before {top:5px;}   
}
   

    }}


.plan--slider {
.content {height: 100%;}
.abs-table{position: absolute; display: block; width: 100%; height: 100%; top:0px; left: 0px;}
    
.slider { width: 100%; position: relative; padding: 0 20%;}
.slick-slide img {
 width: 100%;}

.slick-dots{position: absolute; left:0px; bottom: 56px; text-align: center; width: 100%; cursor: pointer;
li {display: inline-block; width: 6px; height: 6px; background: #fff; border-radius: 10px;  margin: 0 6px; button {display: none;}}       
}    
    .slick-active {background: #00a1e4 !important;}
    
    
.slider--nav {
background: url(../img/stick2.png); z-index: 99999;

}    
    
}




.image--slider { height: 1140px; margin-top: -2px;
.slider { width: 100%; position: relative;}
.slick-slide img {
 width: 100%;}

.slick-dots{position: absolute; left:0px; bottom: 56px; text-align: center; width: 100%; cursor: pointer;
li {display: inline-block; width: 6px; height: 6px; background: #fff; border-radius: 10px;  margin: 0 6px; button {display: none;}}       
}    
    .slick-active {background: #00a1e4 !important;}
    
    
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.fix-popup {position: fixed; display: none; width: 100%; height: 100%; top:0px; left:0px;
.phbg{position: absolute; width: 100%; height: 100%; top:0px; left:0px; background: @coltxt; opacity: 0.35;}
.ad-table {position: absolute; width: 100%; height: 100%; top:0px; left:0px; display: table;
.block-form {position: relative; width: 450px; height: 450px; margin: 0 auto; background: #fff; border-radius: 15px; padding: 25px 45px; margin-bottom: -45px; text-align: center;
h3 {color: @coltxt; font-size: 32px; font-family: @fontB; float: left; width: 100%; text-align: center; padding: 25px 0 25px;} 
.inp {float: left; width: 100%; position: relative; margin: 15px 0}    
input { position: relative; display: inline-block; width: 100%; float: left; font-size: 1rem; padding: 12px 42px 12px 12px; border: solid 1px #ebebeb; margin: 0px; border-radius: 5px;}
p {float: left; width: 100%; margin-top: 15px; text-align: center;}    
.button { display: inline-block;}

.close{position: absolute; display: block; top:-35px; right: -35px; width: 35px; height: 35px;
span {position: absolute; display: block; width: 100%; height: 2px; top: 0px; left: 0px; .pov1; background: #fff; .m-speed;}
span::before {content: '';  position: absolute; display: block; width: 100%; height: 2px; top: 0px; left: 0px; .pov2; background: #fff; .m-speed;} .m-speed;}       
    
.close:hover{
span {background: @colfirm}
span::before {background: @colfirm}
}
}
   
    
}  
    


}

