@import "grundfile.less";



a.phone {text-align: right; font-weight: 500; display: block; font-size: 16px;  float: right;
.m-speed; margin-left: 30px;
position: relative;
b {font-family: @fontB;}

}
.phone::before {
content: ''; display: block; width: 16px; height: 16px; .bgCCC; background: url(../img/phone.png);
position: absolute; top: 1px; left: -30px;
}



.content {width: 1180px; margin: 0 auto; position: relative; }

section {float: left; width: 100%; position: relative;}

.wrap {position: absolute; width: 100%; left:0px; top: 100%; min-height: 550px;}
.button {padding: 22px 42px; color: #fff; font-family: 'MuseoSansBlack'; font-size: 14px; text-align: center;
background: @colfirm; border-radius: 45px; .m-speed; letter-spacing: 1px;
}

.button:hover {background: #c61d66;}

header {position: fixed; width: 100%; height: 110px; left: 0px; top: 0px; background: #fff;
z-index: 999999999999; box-shadow: 0px 14px 24px 0px rgba(36, 36, 36, 0.45);
.content {height: 100%;}
.header--logo--block {float: left; height: 100%; width: 25%; display: inline-table;
a.logo {display: block; width: 150px; height: 60px; .bgCCC; background: url(../img/logo.png);}    
}
    
.header--nav--block {float: left; height: 100%; width: 50%; display: inline-table;
nav {position: relative; .middle; margin: 0 auto; text-align: center;
a {color: #777777; font-size: 14px; font-family: @fontL; margin: 0 11px; .m-speed;}
    a:hover {color: @colfirm;}    

}}
    
.header--phone--block {float: left; height: 100%; width: 25%; display: inline-table; text-align: right;
a.phone {text-align: right; font-weight: 500; display: block; font-size: 16px;  float: right;
.m-speed; margin-left: 30px;
position: relative;
b {font-family: @fontB;}

}
.phone::before {
content: ''; display: block; width: 16px; height: 16px; .bgCCC; background: url(../img/phone.png);
position: absolute; top: 1px; left: -30px;
}     

a:hover {color: @colfirm;}    
    
}

}

.home {position: absolute; display: table; width: 100%; height: 100%; left: 0px; top: 0px; .bgCC; background: url(../img/home.jpg); text-align: center;
h1{font-size: 66px; color: #fff; font-family: @fontB; text-align: center; font-family: 'MuseoSansBlack';
padding: 75px;}}

.about {padding: 95px; height: 1085px;
.about--info--block {float: left; width: 100%;
.about--info-one{float: left; width: 50%; height: 100%; .bgCC; display: inline-table;  height: 443px;
article {float: left; width: 100%; padding: 34px;}
h2 {font-size: 44px; color: @coltxt; font-family: @fontB; margin-bottom: 35px;}
p {float: left; width: 100%; font-size: 16px; font-family: @fontL; color: #777777; line-height: 1.7;}

}  
    
}
    
.about--table--ico--block {float: left; width: 100%; margin-top: 85px;
.about--ico--one {height: 270px; width: 20%; border-left: solid 6px @colbg; border-right: solid 6px @colbg;
position: relative; float: left;
.one--block {position: absolute; display: block; width: 100%; height: 100%; border-radius: 15px; background: #fff; padding: 30px 15px;
.ico {height: 125px; float: left; width: 100%; display: table;
img {position: relative; display: table-cell; vertical-align: bottom; margin: 0 auto;padding: 24px;  .m-speed;}}   
.title {display: inline-block; float: left; width: 100%; text-align: center; font-family: @fontB; margin-bottom: 10px;}
p {float: left; width: 100%; font-size: 14px; font-family: @fontL; color: #777777; line-height: 1.5; text-align: center;}
    
}
    
} 
.about--ico--one:hover {.one--block{.ico{img{margin-top: -10px;}}}   cursor: pointer;}    
}}






.slider-one {height: 895px; .bgCC; background: url(../img/bgpre.jpg);
.content {height: 100%; display: table;}
h2 {color: #fff; font-size: 44px; color: #fff; font-family: @fontB; text-align: center;}
.slider--block {float: left; width: 100%; margin-top: 115px; position: relative; height: 260px; overflow: hidden;
.slide--one {position: absolute; display: block; width: 100%; height: 100%; top:0px; left: 0px;
.one {width: 32.9999999%; height: 100%; position: relative; display: inline-block;
.one--block--pre {position: relative; display: block; margin: 0 auto; width: 160px;
.image {float: left; width: 100%; height: auto; margin-bottom: 30px;
img {position: relative; display: block; }}   
span {color: #fff; font-size: 18px; line-height: 1.4; font-family: @fontL; display: block; text-align: center;
float: left; width: 100%;    
    } 
    
}    
    
}    
    
}

  
    
    
.stick {position: absolute; display: block; top:50%; width: 22px; height: 35px;     margin-top: -70px; 
background: url(../img/stick.png);}
.stick:hover {opacity: .75; cursor: pointer;}
#s-left {left: 0px;}
#s-right {right: 0px; .pov5;}
    
}

p {color: #fff; font-size: 18px; line-height: 1.7; font-family: @fontL; display: block; text-align: center;
float: left; width: 100%; text-align: center; margin-top: 90px;
.button {margin-top: 43px; display: inline-block;}    
} 

}


.contatc {padding: 95px; height: 755px; padding-top: 160px;
.about--info--block {float: left; width: 100%;
.about--info-one{float: left; width: 50%; height: 100%; .bgCC; display: inline-table;  height: 443px;
article {float: left; width: 100%; padding: 65px;}
h2 {font-size: 44px; color: @coltxt; font-family: @fontB; margin-bottom: 35px;}
p {float: left; width: 100%; font-size: 14px; font-family: @fontL; color: #777777; line-height: 1.7; text-align: left;


}  
.button {margin-top: 43px; display: inline-block; float: left;
    }.phone {float: left; margin-top: 25px;}.phone::before {top:5px;}   
}
   

    }}


.plan--slider { height: 1140px;
.content {height: 100%;}
.abs-table{position: absolute; display: block; width: 100%; height: 100%; top:0px; left: 0px;}
    
    
    
}




.image--slider { height: 1140px; height: 895px


}




