div.brand--block--left
div.brand--block--right
    .middle
        h3 1000 советов – это реальная возможность:
        article
            h2 брендам 
            ul
                li Делиться своим опытом с тысячами пользователей
                li Стать популярным экспертом и собрать тысячи подписчиков
                li Продвигать свое имя на вершины рейтингов
                li Зарабатывать на любимом деле
                li Создать собственную творческую студию
        span.comment Это хорошая возможность раскрыть<br> свой потенциал и стать успешным.<br> Здесь есть место и новичку, и специалисту.