<div class="regular slider">
<div>
<img src="img/image-1.jpg">
</div>
<div>
<img src="img/image-1.jpg">
</div>
<div>
<img src="img/image-1.jpg">
</div>
<div>
<img src="img/image-1.jpg">
</div>
<div>
<img src="img/image-1.jpg">
</div>
<div>
<img src="img/image-1.jpg">
</div>
</div>