doctype html

html
    head
        include include/head.jade
    body
         header
            .content
                .header--logo--block
                    .middle
                        a.logo
                .header--nav--block
                    nav
                        a(href="#") О проекте              
                        a(href="#") Преимущества
                        a(href="#") Планировки
                        a(href="#") Галерея
                        a(href="#") Оставить заявку
                .header--phone--block
                    .middle
                        a.phone <i></i> +7 (495) <b>407-78-09</b>
        .home
            .middle
                h1 Сдача 2-го корпуса<br> уже летом!
                a.button oставить заявку
    .wrap
        section.about
            .content
                .about--info--block
                    .about--info-one
                        .middle
                            article
                                h2 О проекте
                                p Среди возможностей будущего дома - интеллектуальная система распознавания въезжающих автомобилей, виртуальный консьерж, внутридомовая навигация с помощью смартфона, удаленный контроль гостевого доступа, лифты с голосовым управлением и развлекательным контентом, позволяющим в считанные секунды ознакомиться с загруженностью московских дорог или прогнозом погоды, дворовый Wi-Fi-кинотеатр, оборудованная  комната на каждом этаже, собственный домовой Wi-Fi-депозитарий. 
                    .about--info-one(style="background: url(img/about.jpg)")
                .about--table--ico--block
                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico1.png">
                            .title Город рядом
                            p В 15-ти минутах от центра, вблизи основных транспортных магистралей
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico2.png">
                            .title Вас узнают
                            p В 15-ти минутах от центра, вблизи основных транспортных магистралей
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico3.png">
                            .title Удаленное управление
                            p В 15-ти минутах от центра, вблизи основных транспортных магистралей
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico4.png">
                            .title Ключи больше не нужны
                            p В 15-ти минутах от центра, вблизи основных транспортных магистралей
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico5.png">
                            .title Умный лифт
                            p В 15-ти минутах от центра, вблизи основных транспортных магистралей
                    // one block ico
        section.slider-one
            .content
                .middle
                    h2 Преимущества
                    .slider--block
                        .slide--one
                        
                            .one
                                .one--block--pre
                                    .image <img src="img/elips1.png">
                                    span Фитнес-клуб
                            .one
                                .one--block--pre
                                    .image <img src="img/elips2.png">
                                    span Спортивные площадки
                            .one
                                .one--block--pre
                                    .image <img src="img/elips3.png">
                                    span Открытый WI-FI кинотеатр
                        i.stick#s-left
                        i.stick#s-right
                    p Для отдыха и прогулок на территории комплекса спроектирована закрытая<br> благоустроенная территория с зелеными насаждениями, детскими и спортивными<br> площадками и другими зонами отдыха.<br> <a href="#" class="button">oставить заявку</a>
        section.plan--slider
            .content
        section.image--slider
            .content
        
        section.contatc
            .content
                .about--info--block
                    .about--info-one(style="background: url(img/map.jpg)")
                    .about--info-one
                        .middle
                            article
                                h2 Контакты
                                p Пресненская наб., д. 8 стр. 1 ММДЦ «Москва-Сити», МФК «Город Столиц»<br><a class="phone"> +7 (495) <b>407-78-09</b></a><br> 
                                a(href="#" class="button") oставить заявку
