doctype html

html
    head
        include include/head.jade
    body
         header
            .content
                .header--logo--block
                    .middle
                        a.logo
                .header--nav--block
                    nav
                        a(href="#about") О проекте              
                        a(href="#prem") Преимущества
                        a(href="#plan") Планировки
                        a(href="#gallery") Галерея
                        a(id="button-5") Оставить заявку
                .header--phone--block
                    .middle
                        a.phone(href="tel:+74954077809") <i></i> +7 (495) <b>407-78-09</b>
        .home.fullscreen.background.parallax
            .middle
                h1 Сдача 2-го корпуса<br> уже летом!
                a.button#button-1 oставить заявку
    .wrap
        section.about#about
            .content
                .about--info--block
                    .about--info-one
                        .middle
                            article
                                h2 О проекте
                                p Среди возможностей будущего дома - интеллектуальная система распознавания въезжающих автомобилей, виртуальный консьерж, внутридомовая навигация с помощью смартфона, удаленный контроль гостевого доступа, лифты с голосовым управлением и развлекательным контентом, позволяющим в считанные секунды ознакомиться с загруженностью московских дорог или прогнозом погоды, дворовый Wi-Fi-кинотеатр, оборудованная  комната на каждом этаже, собственный домовой Wi-Fi-депозитарий. 
                    .about--info-one(style="background: url(img/about.jpg)")
                .about--table--ico--block
                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico1.png">
                            .title Город рядом
                            p В 15-ти минутах от центра, вблизи основных транспортных магистралей
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico2.png">
                            .title Вас узнают
                            p Интеллектуальная система распознавания въезжающих автомобилей
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico3.png">
                            .title Удаленное управление
                            p Удаленный доступ к сервисам и информации с первых минут
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico4.png">
                            .title Ключи больше не нужны
                            p Единое лобби с интеллектуальной системой распознавания
                    // one block ico                
                    // one block ico
                    .about--ico--one
                        .one--block
                            .ico <img src="img/ico5.png">
                            .title Умный лифт
                            p Определение этажа, прогноз погоды и акций – только начало пути
                    // one block ico
        section.slider-one.fullscreen.background.parallax#prem
            .content
                .middle
                    h2 Преимущества
                    .slider--block
                        .slide--one#slide1
                        
                            .one
                                .one--block--pre
                                    .image <img src="img/elips1.png">
                                    span Фитнес-клуб
                            .one
                                .one--block--pre.liner
                                    .image <img src="img/elips2.png">
                                    span Спортивные площадки
                            .one
                                .one--block--pre
                                    .image <img src="img/elips3.png">
                                    span Открытый WI-FI кинотеатр
                        .slide--one#slide2
                            .one
                                .one--block--pre
                                    .image <img src="img/elips4.png">
                                    span Внутридомовая<br> сеть WI-FI                                  
                            .one
                                .one--block--pre.liner
                                    .image <img src="img/elips5.png">
                                    span IZBA             
                            .one
                                .one--block--pre
                                    .image <img src="img/elips6.png">
                                    span Room Service                           

                        
                        i.stick#s-left
                        i.stick#s-right
                    p Для отдыха и прогулок на территории комплекса спроектирована закрытая<br> благоустроенная территория с зелеными насаждениями, детскими и спортивными<br> площадками и другими зонами отдыха.<br> <a id="button-2" class="button">oставить заявку</a>
        section.plan--slider#plan
            include include/slick2.jade
        section.image--slider#gallery
            include include/slick.jade
        
        section.contatc
            .content
                .about--info--block
                    .about--info-one(style="background: url(img/map.jpg)")
                    .about--info-one
                        .middle
                            article
                                h2 Контакты
                                p Пресненская наб., д. 8 стр. 1 ММДЦ «Москва-Сити», МФК «Город Столиц»<br><a class="phone"> +7 (495) <b>407-78-09</b></a><br> 
                                a( id="button-3" class="button") oставить заявку
    .fix-popup
        .phbg
        .ad-table
            .middle
                .block-form
                    h3 Заполните заявку
                    .inp
                        input(type="name", placeholder="Ваше имя")                    
                    .inp
                        input(type="phone", placeholder="Номер телефона")
                    .inp
                        a(id="button-4" class="button") отправить заявку
                    p *Мы не передаем персональную информацию третьим лицам
                    a.close
                        span
    
    
    
script(src="js/paralax.js")
